*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #000000;
    /* &:hover {
        text-decoration: underline;
        color: grey;
    } */
}

img {
    border-radius: 15px;
    box-shadow: -4px 8px 20px rgba(0, 0, 0, 0.1);
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    align-items: center;
    font-weight: 500;

    .logo {
        display: flex;
        padding: 10px;
    }

    nav {
        display: flex;
        align-items: center;
        padding: 10px;
        ul {
            display: flex;
            list-style-type: none;
            gap: 5px;
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    padding: 10px 20px;
                    &:hover {
                        background: #f1f1f1;
                        border-radius: 10px;
                        text-decoration: none;
                    }
                }
            }

        }
        .mobile-toggle {
            display: none;
            color: black;
            padding: 10px;
            @media (max-width: 768px) {
                display: inline-block;
                position: absolute;
                top: 10px;
                right: 20px;
            }
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;
        aligh-item: center;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        aligh-item: center;

        nav {
            margin-top: 10px;
            width: 100%;
            ul {
                display: none;
                flex-direction: column;
                text-align: center;
                width: 100%;
                a {
                    width: 100%;
                }
                &.active {
                    display: flex;
                }
            }
        }
    }
}

p {
    color: #666362;
}

.container {
    max-width: 1440px;
    margin: auto;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width: 1440px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.button {
    display: inline-block;
    padding: 10px 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: ease 300ms all;
    &:hover {
        background-color: grey;
    }
}

.hero {
    display: flex;
    position: relative;
    @media (max-width: 1024px) {
        flex-direction: column;
    }
    .hero-text {
        flex: 1;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .education {
            color: black;
            font-weight: 600;
        }
        #flex-text {
            @media (max-width: 1024px) {
                display: none;
            }
        }
        .call-to-action {
            margin-top: 20px;
            margin-bottom: 10px;
        }
        h1 {
            margin-bottom: 10px;
            font-weight: 600px;
            font-size: 48px;
        }
    }
    .hero-pic {
        flex: 1;
        /* background: pink; */
        border-radius: 30px;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        img {
            max-width: 420px;
        }
    }
    .arrow {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        width: 40px;
        height: 40px;
        box-shadow: none;
    }
}

h2 {
    font-size: 36px;
    padding: 30px;
    small {
        display: block;
        font-size: 14px;
        font-weight: 400;
        color: grey;
    }
}

h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.projects {
    position: relative;
    .holder-project {
        border-radius: 30px;
        margin: 0px 30px;
        box-shadow: -4px 8px 20px rgba(0, 0, 0, 0.3);
        padding: 30px;
        display: flex;
        flex-direction: column;
        ul {
            list-style-type: none;
            gap: 30px;
            margin-bottom: 10px;
            li {
                display: inline-block;
                border-radius: 10px;
                background-color:pink;
                padding: 5px 10px;
                color: deeppink;
            }
        }
    }
    .arrow {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        width: 40px;
        height: 40px;
        box-shadow: none;
    }
}

.clubs {
    position: relative;
    .club-cards {
        display: flex;
        gap: 30px;
        @media(max-width: 1024px) {
            flex-direction: column;
        }
        article {
            flex: 1;
            padding: 30px;
            padding-top: 0px;
            h4 {
                margin-top: 20px;
                margin-bottom: 10px;
            }
            figure {
                border-radius: 15px;
            }
        }
    }
    .arrow {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        width: 40px;
        height: 40px;
        box-shadow: none;
    }
}

.contact {
    .social-links {
        display: flex;
        gap: 50px;
        padding: 30px;
       justify-content: center; 
    }
}

.carousel {
    padding: 30px 0px;
    .marquee {
        width: 100vw;
        max-width: 100%;
        height: 128px;
        overflow: hidden;
        position: relative;
        .track {
            position:absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 40s linear infinite;
            display: flex;
            gap: 10px;
        }
    }
}


@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

footer {
    font-size: 14px;
    color: grey;
    text-align: center;
}